p {
    margin: 0;
}

.d-grid {
    grid-template-areas:
        "goals goals team timeline"
        "scopes scopes primary timeline";
    gap: 32px;
    border: solid 32px #0d6efd;
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
}

.d-flex {
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.border-bottom-dotted {
    border-bottom: 1px dotted #0c8599;
}

.d-grid>section {
    background: #fff;
}

#goals {
    grid-area: goals;
}

#team {
    grid-area: team;
}

#timeline {
    grid-area: timeline;
}

#scopes {
    grid-area: scopes;
}

#primary {
    grid-area: primary;
}

.title {
    font-size: 3rem;
}

.sub-title {
    font-size: 18px;
}

.icon,
.step-num {
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
}

.content {
    flex: 1;
}

.step-num {
    background: #3bc9db;
    border: solid 1px #0c8599;
    justify-content: center;
    align-items: center;
}

/* tablet and mobile style */

@media (max-width: 992px) {
    .d-grid {
        grid-template-areas: "goals" "scopes" "team" "primary" "timeline";
    }

    .d-flex {
        flex-direction: column;
    }

    #scopes .d-flex {
        align-items: flex-start;
    }

    .timeline-item, .team-item {
        align-items: flex-start;
    }

    .content {
        width: 100%;
    }

    .icon {
        margin-bottom: 0;
    }

}